<!DOCTYPE html>
<html ng-app='ShoppingListProvider'>
<head>
<meta charset="utf-8">
    <script src="angular.min.js" ></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
	<title>Custom Service</title>
</head>
<body>
	<h1>Custom Service Through a Provider</h1>

	<div id="list" ng-controller='ShoppingListController as list'>
		<h3>Shopping List: </h3>
		<input type="text" ng-model="list.itemName" placeholder="Item name">
		<input type="text" ng-model="list.itemQuantity" placeholder="Quantity">
		<button   class="btn btn-primary btn-xs" ng-click="list.addItem();">Add item</button>
		<ol>
			<li ng-repeat="item in list.items">   
				{{item.quantity}} of {{item.name}}
				<button class="btn btn-primary btn-xs" ng-click="list.removeItems($index);"> Remove Item</button>
			</li>
		</ol>
		<!-- <div  ng-if="list.errorMessage" class="error">Error: {{list.errorMessage}}</div>
		<div  ng-show="list.errorMessage" class="error">Error: {{list.errorMessage}}</div>
 -->		<div  ng-hide="!list.errorMessage" class="error">Error: {{list.errorMessage}}</div>

	</div>

	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
  	


</body>
</html>
