<!DOCTYPE html>
<html ng-app='DirectivesApp'>
<head>
<meta charset="utf-8">
    <script src="angular.min.js" ></script>
    <script src="app1.js"></script>
    <link rel="stylesheet" href="css/styles.css">
	<title> Directives with isolated scope</title>
</head>
<body>
	<h1>Directives with isolated scope</h1>

	<div ng-controller='ShoppingListController1 as list1'>

		<input type="text" ng-model="list1.itemName" placeholder="Item name">
		<input type="text" ng-model="list1.itemQuantity" placeholder="Quantity">
		<button ng-click="list1.addItem();">Add item</button>
    <shopping-list my-list="list1" title="{{list1.title}}"></shopping-list>
		<div class="error">Error: {{list1.errorMessage}}</div>
	</div>

	 <!-- LIST #2 (limited to 3 items) -->
    <div id="list" ng-controller='ShoppingListController2 as list2'>
		<input type="text" ng-model="list2.itemName" placeholder="Item name">
		<input type="text" ng-model="list2.itemQuantity" placeholder="Quantity">
		<button ng-click="list2.addItem();">Add item</button>

    <shopping-list my-list="list2" title="Shopping List #2 (Limited to 3)"></shopping-list>

		<div class="error">Error: {{list2.errorMessage}}</div>
    </div>

</body>
</html>
